examples/workflows/rfp-responder.json
{
  "name": "RFP / RFQ Auto-Responder Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ]
        }
      },
      "id": "1",
      "name": "Gmail Trigger (New Emails)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "model": "gemini-1.5-pro",
        "systemMessage": "You are the Knowledge Manager & Researcher agent. Analyze the incoming email to determine if it is a Request for Proposal (RFP) or a Request for Quote (RFQ).\n\nIf it IS an RFP/RFQ, extract the core requirements, deadlines, and key questions being asked. If it is NOT an RFP/RFQ, simply state so.\n\nOutput ONLY valid JSON in the following format:\n{\n  \"is_rfp_rfq\": true/false,\n  \"summary\": \"Brief summary of the request...\",\n  \"requirements\": [\"req 1\", \"req 2\"],\n  \"deadline\": \"YYYY-MM-DD or Not specified\"\n}",
        "messages": {
          "messageValues": [
            {
              "message": "=Subject: {{ $json.snippet }}\nBody: {{ $json.textPlain }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Analyze Request (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "string": [
            {
              "value": "={{ JSON.parse($json.text).is_rfp_rfq }}",
              "action": "isTrue"
            }
          ]
        }
      },
      "id": "3",
      "name": "Is RFP/RFQ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "create",
        "title": "=RFP Draft: {{ $('Gmail Trigger (New Emails)').item.json.snippet }}",
        "content": "=RFP / RFQ Analysis\n\nSender: {{ $('Gmail Trigger (New Emails)').item.json.from }}\nDate: {{ $('Gmail Trigger (New Emails)').item.json.date }}\n\nSummary:\n{{ JSON.parse($('Analyze Request (Gemini)').item.json.text).summary }}\n\nRequirements:\n{{ JSON.parse($('Analyze Request (Gemini)').item.json.text).requirements.join('\\n- ') }}\n\nDeadline: {{ JSON.parse($('Analyze Request (Gemini)').item.json.text).deadline }}\n\n---\nDraft Response Section:\n[Agent to continue drafting proposal here]"
      },
      "id": "4",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        850,
        150
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "=Re: {{ $('Gmail Trigger (New Emails)').item.json.snippet }}",
        "message": "=Hello,\n\nThank you for reaching out with your request. Our internal Knowledge Manager agent has reviewed your requirements and prepared an initial draft for our team to finalize.\n\nInternal Reference Document: https://docs.google.com/document/d/{{ $json.documentId }}/edit\n\nWe will be in touch shortly.\n\nBest,\nProject NoeMI Team",
        "toEmail": "={{ $('Gmail Trigger (New Emails)').item.json.from }}"
      },
      "id": "5",
      "name": "Draft Gmail Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1050,
        150
      ]
    },
    {
      "parameters": {},
      "id": "6",
      "name": "Ignore Non-RFPs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        850,
        450
      ]
    }
  ],
  "connections": {
    "Gmail Trigger (New Emails)": {
      "main": [
        [
          {
            "node": "Analyze Request (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Request (Gemini)": {
      "main": [
        [
          {
            "node": "Is RFP/RFQ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is RFP/RFQ?": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Non-RFPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Draft Gmail Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
