docs/n8n workflows/email-digest-v2.json
{
  "name": "E-mail összefoglalók 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "id": "d5dd19ac-ab38-4e3b-af6b-749271d11813",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "Label_4227413208419604109"
          ],
          "receivedAfter": "={{ $now.minus({ hours: 2 }).toString() }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        304,
        -80
      ],
      "id": "8ef8181c-b98a-4a23-ab70-0f1a314c2130",
      "name": "Get many messages",
      "webhookId": "d5af9281-a7ad-46af-972a-6de34ea46bb4",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77756a49-e636-407f-9a94-f96fd4530111",
              "name": "=email",
              "value": "={{ $json.From.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/)[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -80
      ],
      "id": "26d6d962-5aee-40c3-9af0-1334b8e79b9d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_DATATABLE_ID",
          "mode": "list",
          "cachedResultName": "YOUR_DATATABLE_NAME",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/REPLACE_WITH_YOUR_DATATABLE_ID"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        112
      ],
      "id": "2f6668c5-622d-462a-88db-089cae9da75e",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "email",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        -16
      ],
      "id": "4ddd3e4a-b332-4b5c-ba8d-532bfc8b1313",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id",
              "includeEmpty": true
            }
          ]
        },
        "fieldsToSplitBy": "email",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1104,
        -16
      ],
      "id": "39df4f18-fa37-4d0b-83b9-8fc66d203819",
      "name": "Summarize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7466f456-c7f8-4f1d-89ac-5992419c2eb6",
              "leftValue": "={{ $json.customer_level }}",
              "rightValue": "VIP",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        928,
        -16
      ],
      "id": "e0b15890-d85b-470d-b442-2a13e0b8063d",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4333d931-0792-4107-bb4f-8b1a8ed1b469",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REPLACE_WITH_YOUR_INSTANCE_ID"
  },
  "id": "pfNOQwResmCDr3Nc",
  "tags": []
}